section.data-table
  > table
    @extend .table

    td
      border-bottom: 1px solid #ECEEEF

    th.sortable
      cursor: pointer

      &:after
        @extend %fa-font-settings
        content: ''
        float: right
        padding: 0.25rem 0

      &.asc:after
        content: ''

      &.desc:after
        content: ''

  > nav
    position: relative

    > p
      margin-bottom: 1rem

      @include media-breakpoint-up(xl)
        float: right
        margin-top: 0.5rem

    > div
      display: flex
      flex-wrap: wrap

      @include media-breakpoint-up(sm)
        display: block

    > div > div
      margin-bottom: 0.5rem

      &.page_num
        text-align: center
        order: 1
        width: 100%

        @include media-breakpoint-up(sm)
          width: auto
          display: inline-block
          margin: 0px 0.5rem
          padding: 0px 0.5rem
          border-right: 1px solid $button-border-color
          border-left: 1px solid $button-border-color

      &.left,
      &.right
        width: 50%

        @include media-breakpoint-up(sm)
          width: auto
          display: inline-block

      &.right
        text-align: right

      > a
        @extend .btn, .btn-secondary

        &:before
          font-size: 1rem

      > input
        @extend .form-control

        width: 7rem
        margin: 0 0.3rem
        display: inline-block
