ul.tags-input
  @extend .form-control
  list-style: none
  cursor: text

  &.active
    @extend .form-control:focus

  > li
    display: inline-block
    margin-bottom: 1px

    &:not(:last-child)
      @extend .label, .label-default
      font-size: 80%

      > i
        margin-left: 0.3rem
        cursor: pointer
        padding: 0.15rem

    > input
      border: 0
      padding: 0 0 0 0.2rem
      outline: none


ul.modifiers-input
  list-style: none
  padding: 0

  > li
    margin-bottom: 0.6rem
    @include media-breakpoint-up(md)
      display: flex

    &.active
      > ul,
      > input
        @extend .form-control:focus

      > input
        @include media-breakpoint-down(sm)
          border-bottom-color: $input-border-color

      > ul
        @include media-breakpoint-up(md)
          border-left-color: $input-border-color

    > i
      cursor: pointer
      padding: 0.25rem

      @include media-breakpoint-up(md)
        order: 0
        padding: $input-padding-x $input-padding-x 0 0

    > input
      @extend .form-control
      display: inline-block
      width: 14rem
      border-bottom-right-radius: 0
      
      @include media-breakpoint-down(sm)
        border-bottom-left-radius: 0
        border-bottom-style: dashed

      @include media-breakpoint-up(md)
        order: 1
        border-top-right-radius: 0

    > ul
      @extend ul.tags-input
      border-top-left-radius: 0

      @include media-breakpoint-down(sm)
        margin-top: -1px

      @include media-breakpoint-up(md)
        order: 2
        margin-left: -1px
        border-bottom-left-radius: 0
        border-left-style: dashed
