ul.tags-input
  @extend .form-control
  list-style: none
  cursor: text

  &.active
    @extend .form-control:focus

  > li
    display: inline-block
    margin-bottom: 1px

    &:not(:last-child)
      @extend .label, .label-default
      font-size: 80%

      > i
        margin-left: 0.3rem
        cursor: pointer

    > input
      border: 0
      padding: 0
      outline: none

  &.nospaces
    > li
      margin-right: 0.3em

      &:last-child
        margin-right: 0


ul.modifiers-input
  list-style: none
  padding: 0

  > li
    margin-bottom: 0.6rem
    @include media-breakpoint-up(md)
      display: flex

    &.active
      > ul,
      > input
        @extend .form-control:focus

      > input
        @include media-breakpoint-down(sm)
          border-bottom-color: $input-border-color

        @include media-breakpoint-up(md)
          border-right-color: $input-border-color

    > button
      @extend .btn, .btn-secondary, .btn-sm

    > i
      cursor: pointer
      padding: 0.25rem

      @include media-breakpoint-up(md)
        order: 0
        padding: $input-padding-x $input-padding-x 0 0

    > input
      @extend .form-control
      display: inline-block
      width: 14rem
      border-bottom-right-radius: 0
      
      @include media-breakpoint-down(sm)
        border-bottom-left-radius: 0
        border-bottom-style: dashed

      @include media-breakpoint-up(md)
        align-self: flex-start
        order: 1
        z-index: 1
        border-top-right-radius: 0
        border-right-style: dashed

    > ul
      @extend ul.tags-input
      border-top-left-radius: 0

      @include media-breakpoint-down(sm)
        margin-top: -1px

      @include media-breakpoint-up(md)
        order: 2
        margin-left: -1px


div.searchable-select
  @extend .btn, .btn-secondary
  position: relative

  > select
    display: none

  > span:before
    @extend %fa-font-settings
    content: ''
    float: right
    margin-left: 1rem

  > ul
    @extend .dropdown-menu
    cursor: default
    overflow: auto

    @include media-breakpoint-down(sm)
      position: fixed
      top: 0
      height: 100%
      padding-top: 3.7rem

      > li:first-child
        position: fixed
        top: 3px
        background-color: #FFF

    > li:first-child
      border-bottom: 1px solid $dropdown-divider-bg
      padding: 8px 20px

    > li
      @extend .dropdown-item

    > li > input
      @extend .form-control
      min-width: 15rem
