ul.tagsinput
  @extend .form-control
  list-style: none
  cursor: text

  &.active
    @extend .form-control:focus

  > li
    display: inline-block

    &:not(:last-child)
      @extend .label, .label-default
      font-size: 80%

      > i
        margin-left: 0.3rem
        cursor: pointer
        padding: 0.15rem

    > input
      border: 0
      font-size: 0.8rem

form.single > div,
form.single > fieldset > div
  @extend .form-group

  @include media-breakpoint-up(xl)
    position: relative
    padding: 0 20%

  &.has-danger
    color: $brand-danger

    > small
      color: $brand-danger

    > input
      @extend .form-control-danger
      color: inherit
      border-color: $brand-danger

  > label
    padding: $input-padding-y $input-padding-x $input-padding-y 0
    margin-bottom: 0

    &:first-child
      display: block

      @include media-breakpoint-up(xl)
        width: 20%
        text-align: right
        margin: 0
        position: absolute
        left: 0

  > input,
  > textarea,
  > select
    @extend .form-control

  > .checkboxes,
  > .radios
    &.inline
      > label
        display: inline-block
        
    > label
      padding: $input-padding-y $input-padding-x
      padding-left: 1.3rem
      display: block
      margin-bottom: 0

      > input[type='checkbox'],
      > input[type='radio']
        margin-left: -1.3rem
        margin-right: 0.3rem

  > input[type='checkbox']
    width: auto
    @include media-breakpoint-up(xl)
      height: 2.2rem

  > small
    @extend .text-muted

    @include media-breakpoint-up(xl)
      width: 100%
      margin-top: 0.1rem

  > button[type='submit']
    @extend .btn, .btn-primary